.inline {
  display: inline-block; }
  .inline.input-1 {
    width: 10%; }
  .inline.input-2 {
    width: 20%; }
  .inline.input-3 {
    width: 30%; }
  .inline.input-4 {
    width: 40%; }
  .inline.input-5 {
    width: 50%; }
  .inline.input-6 {
    width: 60%; }
  .inline.input-7 {
    width: 70%; }
  .inline.input-8 {
    width: 80%; }
  .inline.input-9 {
    width: 90%; }
  .inline.input-10 {
    width: 100%; }
  .inline.input-11 {
    width: 110%; }
  .inline.input-12 {
    width: 120%; }
  .inline.input-13 {
    width: 130%; }
  .inline.input-14 {
    width: 140%; }
  .inline.input-15 {
    width: 150%; }
  .inline.input-16 {
    width: 160%; }
  .inline.input-17 {
    width: 170%; }
  .inline.input-18 {
    width: 180%; }
  .inline.input-19 {
    width: 190%; }
  .inline.input-20 {
    width: 200%; }
  .inline.input-21 {
    width: 210%; }
  .inline.input-22 {
    width: 220%; }
  .inline.input-23 {
    width: 230%; }
  .inline.input-24 {
    width: 240%; }
  .inline.input-25 {
    width: 250%; }
  .inline.input-26 {
    width: 260%; }
  .inline.input-27 {
    width: 270%; }
  .inline.input-28 {
    width: 280%; }
  .inline.input-29 {
    width: 290%; }
  .inline.input-30 {
    width: 300%; }
  .inline.input-31 {
    width: 310%; }
  .inline.input-32 {
    width: 320%; }
  .inline.input-33 {
    width: 330%; }
  .inline.input-34 {
    width: 340%; }
  .inline.input-35 {
    width: 350%; }
  .inline.input-36 {
    width: 360%; }
  .inline.input-37 {
    width: 370%; }
  .inline.input-38 {
    width: 380%; }
  .inline.input-39 {
    width: 390%; }
  .inline.input-40 {
    width: 400%; }
  .inline.input-41 {
    width: 410%; }
  .inline.input-42 {
    width: 420%; }
  .inline.input-43 {
    width: 430%; }
  .inline.input-44 {
    width: 440%; }
  .inline.input-45 {
    width: 450%; }
  .inline.input-46 {
    width: 460%; }
  .inline.input-47 {
    width: 470%; }
  .inline.input-48 {
    width: 480%; }
  .inline.input-49 {
    width: 490%; }
  .inline.input-50 {
    width: 500%; }
  .inline.input-51 {
    width: 510%; }
  .inline.input-52 {
    width: 520%; }
  .inline.input-53 {
    width: 530%; }
  .inline.input-54 {
    width: 540%; }
  .inline.input-55 {
    width: 550%; }
  .inline.input-56 {
    width: 560%; }
  .inline.input-57 {
    width: 570%; }
  .inline.input-58 {
    width: 580%; }
  .inline.input-59 {
    width: 590%; }
  .inline.input-60 {
    width: 600%; }
  .inline.input-61 {
    width: 610%; }
  .inline.input-62 {
    width: 620%; }
  .inline.input-63 {
    width: 630%; }
  .inline.input-64 {
    width: 640%; }
  .inline.input-65 {
    width: 650%; }
  .inline.input-66 {
    width: 660%; }
  .inline.input-67 {
    width: 670%; }
  .inline.input-68 {
    width: 680%; }
  .inline.input-69 {
    width: 690%; }
  .inline.input-70 {
    width: 700%; }
  .inline.input-71 {
    width: 710%; }
  .inline.input-72 {
    width: 720%; }
  .inline.input-73 {
    width: 730%; }
  .inline.input-74 {
    width: 740%; }
  .inline.input-75 {
    width: 750%; }
  .inline.input-76 {
    width: 760%; }
  .inline.input-77 {
    width: 770%; }
  .inline.input-78 {
    width: 780%; }
  .inline.input-79 {
    width: 790%; }
  .inline.input-80 {
    width: 800%; }
  .inline.input-81 {
    width: 810%; }
  .inline.input-82 {
    width: 820%; }
  .inline.input-83 {
    width: 830%; }
  .inline.input-84 {
    width: 840%; }
  .inline.input-85 {
    width: 850%; }
  .inline.input-86 {
    width: 860%; }
  .inline.input-87 {
    width: 870%; }
  .inline.input-88 {
    width: 880%; }
  .inline.input-89 {
    width: 890%; }
  .inline.input-90 {
    width: 900%; }
  .inline.input-91 {
    width: 910%; }
  .inline.input-92 {
    width: 920%; }
  .inline.input-93 {
    width: 930%; }
  .inline.input-94 {
    width: 940%; }
  .inline.input-95 {
    width: 950%; }
  .inline.input-96 {
    width: 960%; }
  .inline.input-97 {
    width: 970%; }
  .inline.input-98 {
    width: 980%; }
  .inline.input-99 {
    width: 990%; }

/*# sourceMappingURL=site.css.map */
