<div class="page-header">
	<h1>Contract {{vm.contract.title}}</h1>
</div>
<hr>
<div class="row container jumbotron col-md-10">
	<div class="col-md-12">
		<h4>{{vm.contract.title}}</h4>
		<div class="col-md-12">This agreement ("Agreement") is made this {{vm.contract.day}} day of {{vm.contract.month}}, {{vm.contract.year}}, between
			{{vm.contract.contractor.name}}, henceforth known as "Contractor," and {{vm.contract.owner.name}}, henceforth known as
			"Owner."
		</div>
		</br>
		<div class="col-md-12">Pursuant to the work described in {an estimate, a previous agreement, etc.}, the Contractor and Owner agree to the following:
		</div>
		</br>
		<div class="col-md-12" ng-repeat="section in vm.contract.sections track by $index">
			<div>
				<h5>Section {{section.id}}</h5>
				<h5>{{section.title}}</h5>
				<div>
					<p>{{section.overview}}</p>
					<p>{{section.description}}</p>
				</div>
			</div>
			</br>
		</div>
		</br>
		<div class="col-md-12">Invalidity or unenforceability of one or more provisions of this Agreement shall not affect any other provision of this
			Agreement.
		</div>
		</br>
		<div class="col-md-12">Contractor and Owner acknowledge that this Agreement is subject to the laws and regulations of the state of {{vm.contract.state}}.</div>
	</div>
	</br>

	<div class="row" class="col-md-12" style="padding:2rem">
		<span class="col-md-6" style="padding:1rem"> {{vm.contract.contractor.name}} </br>Contractor Name</span>
		<span class="col-md-6" style="padding:1rem"> {{vm.contract.owner.name}} </br> Owner Name</span>
		<span class="col-md-6" style="padding:1rem"> <img style="height:125px; width:300px" ng-src="{{vm.contract.contractor.sig.dataUrl}}"> __________________________ </br>Contractor Signature </span>

		<span ng-show="vm.contract.owner.sig.dataUrl === undefined" class="col-md-6" style="padding:1rem">
            <div style="border: solid #e6e6e6 2px">
                <signature-pad  accept="accept" clear="clear" height="220" width="568" > </signature-pad>
            </div>
            __________________________ </br>Owner Signature  </br>
            
            <button class="btn btn-info" ng-click="clear()">Clear signature</button>
            <button class="btn btn-info" ng-click="signature = accept(); vm.signed(signature);">Sign</button>
        </span>

		<span ng-hide="vm.contract.owner.sig.dataUrl === undefined" class="col-md-6" style="padding:1rem"> 
                <img style="max-width: 300px;" ng-src="{{vm.contract.owner.sig.dataUrl}}">
               __________________________ </br>Owner Signature </br>
            </span>

	</div>
</div>
<div ng-hide="vm.contract.owner.sig.dataUrl !== undefined && vm.contract.contractor.sig.dataUrl !== undefined" class="col-md-10">
	<button ng-click="vm.editLink()" class="btn btn-secondary">Edit Link</button>
</div>
