<div class="page-header">
	<h1>Contract {{vm.contract.title}}</h1>
</div>
<hr>
<div class="row container jumbotron col-md-10">
	<div class="col-md-12">
		<h4><input class="form-control inline input-4" type="text" placeholder="Contract Title" ng-model="vm.contract.title"></h4>
		<div class="col-md-12">This agreement ("Agreement") is made this
			<input class="form-control inline input-1" type="text" placeholder="Day" ng-model="vm.contract.day"> day of
			<input class="form-control inline input-1" type="text" placeholder="Month" ng-model="vm.contract.month">,
			<input class="form-control inline input-1" type="text" placeholder="Year" ng-model="vm.contract.year">, between
			<input class="form-control inline input-3" type="text" placeholder="Contractor Full Name" ng-model="vm.contract.contractor.name">,
			henceforth known as "Contractor," and
			<input class="form-control inline input-3" type="text" placeholder="Employer Full Name" ng-model="vm.contract.owner.name">,
			henceforth known as "Owner."</div>
		</br>
		<div class="col-md-12">Pursuant to the work described in a previous agreement, the Contractor and Owner agree to the following:
		</div>
		</br>
		<div class="col-md-12" ng-repeat="section in vm.contract.sections track by $index">
			<div>
				<h5>Section <input type="text" class="form-control inline input-1" ng-model="section.id"></h5>
				<h5><input type="text" class="form-control inline input-3" ng-model="section.title"></h5>
				<div>
					<p><textarea class="form-control" ng-model="section.overview"></textarea></p>
					<p><textarea class="form-control" ng-model="section.description"></textarea></p>
				</div>
			</div>
			</br>
		</div>
		<!--<h5>Section <input type="text" ng-model="vm.contract.sections.number"></h5>-->
		<div class="row col-md-12">
			<div class="col-md-12">
				<button class="btn btn-secondary" ng-click="vm.addSection()">Add section</button>
				<button class="btn btn-secondary" ng-click="vm.removeSection()">Remove section</button>
			</div>
		</div>

		</br>
		<div class="col-md-12">Invalidity or unenforceability of one or more provisions of this Agreement shall not affect any other provision of this
			Agreement.
		</div>
		</br>
		<div class="col-md-12">
			Contractor and Owner acknowledge that this Agreement is subject to the laws and regulations of the state of
			<input class="form-control inline input-2 " ng-model='vm.contract.state'>.
		</div>
	</div>
	</br>

	<div class="row" class="col-md-12" style="padding:2rem">
		<span class="col-md-6" style="padding:1rem">{{vm.contract.contractor.name}} </br>Contractor Name</span>
		<span class="col-md-6" style="padding:1rem"> {{vm.contract.owner.name}} </br> Owner Name</span>

		<span ng-show="vm.contract.contractor.sig.dataUrl === undefined || vm.contract.contractor.sig.isEmpty === true" class="col-md-6"
		    style="padding:1rem">
                <div style="border: solid #e6e6e6 2px">
                    <signature-pad accept="accept" clear="clear" height="200" width="568"> </signature-pad>
                </div>
                __________________________ </br> Contractor Signature  </br>
            <button class="btn btn-info" ng-click="clear();">Clear signature</button>
			<button class="btn btn-info" ng-click="signature = accept(); vm.signed(signature);">Sign</button>
			<hr/>
			<div class="col-md-5"> 
				<input type="date" ng-model="vm.contract.contractor.date" class="form-control inline input-15" />
			</div>
        </span>

		<span ng-show="vm.contract.contractor.sig.dataUrl !== undefined && vm.contract.contractor.sig.isEmpty !== true" class="col-md-6"
		    style="padding:1rem"> 
            <img style="max-width: 300px;" ng-src="{{vm.contract.contractor.sig.dataUrl}}">  __________________________ </br>Contractor Signature  
        </span>

		<span ng-show="vm.contract.owner.sig.dataUrl !== undefined" class="col-md-5" style="padding:1rem"> 
            <img style="max-width: 300px;" ng-src="{{vm.contract.owner.sig.dataUrl}}">   __________________________ </br>Owner Signature 
        </span>

		<span ng-show="vm.contract.owner.sig.dataUrl === undefined" class="col-md-6" style="padding:1rem">
            __________________________ </br>Owner Signature 
        </span>


	</div>
</div>
<div class="col-md-10">
	<button ng-hide="vm.page !== undefined" ng-click="vm.createLink()" class="btn btn-primary" style="float: right">Create Link</button>
	<button ng-hide="vm.page === undefined" ng-click="vm.updateContract()" class="btn btn-primary" style="float: right">Update Contract</button>
</div>
